<head>
  <meta charset="utf-8">

  <title>Switchboard</title>
  <meta name="description" content="Switchboard">
  <link rel="switchboard icon" href="{{site.baseurl}}/images/favicon.gif">

  <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/solarized-dark.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Exo+2:300' rel='stylesheet' type='text/css'>
</head>
