# Erlang
ebin/
deps/
log/
_rel/
.imapswitchboard.plt
.switchboard.plt
erl_crash.dump
switchboard.tar.gz

.erlang.mk.packages.v1
relx
etc/vm.args
etc/vars.config

# Other
site/_site

# Etc
.projectile

# Vagrant
.vagrant/