# Erlang
ebin/
deps/
log/
_rel/
.imapswitchboard.plt
.switchboard.plt
erl_crash.dump
switchboard.tar.gz

.erlang.mk.packages.v1
.erlang.mk.packages.v2
relx
switchboard.conf

# Provisioning
provisioning/hosts

# Other
site/_site

# Etc
.projectile

# Vagrant
.vagrant/