%% -*- mode: erlang -*-
{release, {switchboard, "0.2.1"}, [switchboard]}.
{extended_start_script, true}.
{sys_config, "etc/sys.config"}.
{overlay_vars, "switchboard.config"}.
{overlay, [{mkdir, "log"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args",
            "releases/{{ release_version }}/vm.args"}]}.
