%% -*- mode: erlang -*-
{release, {switchboard, "0.2.1"}, [switchboard]}.
{extended_start_script, true}.
{sys_config, "etc/sys.config"}.
%{vm_args, "etc/vm.args"}.
{overlay_vars, "vars.config"}.
{overlay, [{mkdir, "log"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"}]}.
