<div class="sidebar">
  <h2><ul>
    <li><a class="{% if page.url contains '/whatis' %}active{% endif %}" href="{{site.baseurl}}/whatis">What is Switchboard</a></li>
    <li><a class="{% if page.url contains '/install' %}active{% endif %}" href="{{site.baseurl}}/install">Installation</a></li>
    <li><a class="{% if page.url contains '/interfaces' %}active{% endif %}" href="{{site.baseurl}}/interfaces">Worker and Client Interfaces</a></li>
    <li><a class="{% if page.url contains '/examples' %}active{% endif %}" href="{{site.baseurl}}/examples">Examples</a></li>
    <li><a class="{% if page.url contains '/contributing' %}active{% endif %}" href="{{site.baseurl}}/contributing">Contributing</a></li>
    <li><a target="_blank" href="{{site.baseurl}}/doc">API Docs</a></li>
    <li><a class="{% if page.url contains '/faq' %}active{% endif %}" href="{{site.baseurl}}/faq">FAQ</a></li>
  </ul></h2>
</div>
