<div class="sidebar">
  <h2><ul>
    <li><a class="{% if page.url contains '/guide/install' %}active{% endif %}" href="{{site.baseurl}}/guide/install">Installation</a></li>
    <li><a class="{% if page.url contains '/guide/client' %}active{% endif %}" href="{{site.baseurl}}/guide/client">Client Interface</a></li>
    <li><a class="{% if page.url contains '/guide/examples' %}active{% endif %}" href="{{site.baseurl}}/guide/examples">Examples</a></li>
    <li><a class="{% if page.url contains '/guide/deploying' %}active{% endif %}" href="{{site.baseurl}}/guide/deploying">Deploying</a></li>
    <li><a class="{% if page.url contains '/guide/contributing' %}active{% endif %}" href="{{site.baseurl}}/guide/contributing">Contributing</a></li>
    <li><a class="{% if page.url contains '/guide/faq' %}active{% endif %}" href="{{site.baseurl}}/guide/faq">FAQ</a></li>
  </ul></h2>
</div>
