%% -*- mode: erlang -*-
%% Switchboard Config.

{host, "{{ switchboard_host }}"}.
{cookie, "{{ switchboard_cookie }}"}.
{http_port, {{ switchboard_http_port }}}.
{log_dir, "{{ switchboard_logs}}"}.
{google_client_id, "{{ switchboard_google_client_id }}"}.
{google_client_secret, "{{switchboard_google_client_secret }}"}.
