%% -*- mode: erlang -*-
[
 {switchboard, [{cowboy_port, 8080 }
                               ]},

 {lager, [{handlers, [{lager_console_backend, info},
                      {lager_file_backend, [{file, "log/error.log"},
                                            {level, error}]},
                      {lager_file_backend, [{file, "log/console.log"},
                                            {level, info}]}
                     ]}]}
 ].
