%% -*- mode: erlang -*-
[{switchboard, [{cowboy_port, {{cowboy_port}}}]},
 {lager, [{handlers, [{lager_console_backend, info},
                      {lager_file_backend, [{file, "{{logs_dir}}/error.log"},
                                            {level, error}]},
                      {lager_file_backend, [{file, "{{logs_dir}}/console.log"},
                                            {level, info}]}
                     ]}]}
 ].
