%% -*- mode: erlang -*-
[
 {switchboard, [{cowboy_port, {{ http_port|default:8080 }}},
                {oauth_providers,
                 [{% if google_client_id and google_client_secret %}
                  {google,
                   [{client_id, <<"{{ google_client_id }}">> },
                    {client_secret, <<"{{ google_client_secret }}">> },
                    {refresh_url, <<"https://accounts.google.com/o/oauth2/token">>},
                    {imap_host, <<"imap.gmail.com">>},
                    {imap_port, 993}]}{% endif %}
                ]}
               ]},

 {lager, [{handlers, [{lager_console_backend, info},
                      {lager_file_backend,
                       [{file, "{{ log_dir|default:"log" }}/error.log"},
                        {level, error}]},
                      {lager_file_backend,
                       [{file, "{{ log_dir|default:"log" }}/info.log"},
                        {level, info}]}
                     ]}]}
].
